* {
  box-sizing: border-box;

}

img {
  text-align: center;
  margin-top: 10px;
}

.board {
  max-width: 410px;
  padding: 10px;
  margin: 0 auto;
}

.btn-xl {
  width: 125px;
  height: 125px;
  margin: 2px;
  padding: 2px;
 }

.title {
  margin: 0 auto;
  padding: 2px;
  padding-top: 10px;
  max-width: 410px;
  text-align: center;
  font-size:35px;
  font-family: 'Catamaran', sans-serif;
}

.clear {
  margin: 0 auto;
  padding: 5px;
  max-width: 410px;
  text-align: center;
}

.btn-lg {
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;

}

.col-md-4 {
  padding: 1px;
}

.col-xs-4 {
  padding: 1px;
}

.occupied {
  pointer-events: none;
}

#banner {
  margin: 0 auto;
  max-width: 410px;
  text-align: center;
  font-size:50px;
  color: red;
  font-family: 'Catamaran', sans-serif;
  animation: blink 1s steps(2, start) infinite;

}


