* {
  box-sizing: border-box;

}

.btn-xl {
  width: 125px;
  height: 125px;
  margin: 2px;
  padding: 2px;
  background-color: transparent;
  border: 2px solid black;
 }

 .btn:hover {
  background-color: white;
  border-color: red;
 }


img {
  margin-top: 10px;
  background-color: white;
  position: center;
  margin: 0 auto;
}

body {
  background-image: url('../images/fosho.png');
  background-size: 1000px;
  background-position: top;
  background-repeat: no-repeat;
}

.form {
  max-width: none;
  margin-left: 75px;
}

.form-control {
  width: 200px;
}

.player {
  padding: 10px;
  float: left;
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
}

.warning {
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  color: red;
}

.board {
  max-width: 420px;
  padding: 10px;
  margin: 0 auto;

}

.title, .banner, #banner{
  margin: 0 auto;
  padding: 2px;
  padding-top: 10px;
  max-width: 410px;
  text-align: center;
  font-size:35px;
  font-family: 'Catamaran', sans-serif;
}

.title {
  padding-top: 10px;
  max-width: none;
  float: left;
}

.play {
  max-width: 438px;
}

.clear {
  margin: 0 auto;
  padding: ;
  max-width: 410px;
  text-align: center;
}

.btn-lg {
  font-family: 'Catamaran', sans-serif;
  font-size: 30px;

}

.col-md-4 {
  padding: 1px;
}

.col-xs-4 {
  padding: 1px;
}

.occupied {
  pointer-events: none;
  text-align: center
}

#banner {
  font-size:50px;
  color: red;
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  padding: 0;

}


