* {
  box-sizing: border-box;

}

.board {
  max-width: 410px;
  padding: 10px;
  margin: 0 auto;
}

.btn-xl {
  width: 125px;
  height: 125px;
  margin: 2px;
  padding: 2px;
 }

.title {
  margin: 0 auto;
  padding: 10px;
  max-width: 410px;
  text-align: center;
  font-size: 24px;
}

.clear {
  margin: 0 auto;
  width: 15%;
  padding: 10px;
  text-align: center;
}

.col-md-4 {
  padding: 1px;
}
